{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML</title>
    <link rel='stylesheet' href="{% static 'style.css' %}"/>
    <script src="{% static 'script.js' %}"></script>
   
  </head>
  <header>
    <h1>
        <a>ホーム</a>
    </h1>
</header>
<div style="text-align:center;">
  <body>
      <br>
      <br>
      <br>
     <h1><a><span>下の「開始」ボタンを押し、移動先のページにて10個のTwitterアカウントを判定してください。</span></a></h1>
     <h1><a><span>各アカウントの判定後、各アカウントごとに判定結果をアンケートフォームから回答してください。</span></a></h1>
     <h1><a><span>※ページのリロードを行うと、ページの内容が変わってしまうためリロードは行わないでください。</span></a></h1>
    <form action='./basicF_form4' method="POST">
        {% csrf_token %}



   <button type="submit" name="button">
   <font size="6">開始</font></button>

</form>
</body>
</html>
